.movie {
  background: #FDFDFD;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
  position: relative;
}

.movie__name {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  color: #000000;
  margin: 14px 14px 9px;
}

.movie__duration {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.2;
  color: #A0A0A0;
  margin: 0 14px 14px;
}

.movie__pic {
  width: 300px;
  height: 168px;
}

.movie__button {
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  border: none;
  transition: opacity 0.2s linear;
  position: absolute;
  top: 19px;
  right: 14px;
  padding: 0;
}

.movie__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.movie__button_unsaved {
  background: url(../../images/movies__bookmark-icon.svg) no-repeat;
}

.movie__button_saved {
  background: url(../../images/movie__saved-bookmark-icon.svg) no-repeat;
}

.movie__button_added {
  background: url(../../images/movie__delete-button-icon.svg) no-repeat;
}

@media screen and (min-width: 768px) {
  .movie__pic {
    width: 339px;
    height: 190px;
  }
}

@media screen and (min-width: 1280px) {
  .movie__pic {
    width: 364px;
    height: 203px;
  }
}