.menu {
  background: url("../../images/header__navigation-icon.svg") no-repeat;
  background-size: 38px 38px;
  width: 38px;
  height: 38px;
  margin: 0;
  border: none;
  padding: 0;
}

.menu:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .menu {
    background-size: 44px 40px;
    width: 44px;
    height: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .menu {
    display: none;
  }
}