.navigation-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-links__movies {
  visibility: hidden;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.4;
  color: #000000;
  margin: 0 16px 0 0;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .navigation-links__movies {
    visibility: visible;
  }
}

.navigation-links__saved-movies {
  visibility: hidden;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.4;
  color: #000000;
  margin: 0;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .navigation-links__saved-movies {
    visibility: visible;
  }
}