.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.not-found__title {
  font-weight: 400;
  font-size: 80px;
  line-height: 1.2;
  text-align: center;
  color: #000000;
  margin: 329px 0 10px;
}

.not-found__subtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  color: #000000;
  margin: 0 0 284px;
}

.not-found__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  color: #3456F3;
  margin: 0;
  text-decoration: none;
}

.not-found__link:hover {
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .not-found__title {
    font-size: 140px;
    margin-top: 408px;
    margin-bottom: 5px;
  }

  .not-found__subtitle {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 186px;
  }

  .not-found__link {
    font-size: 14px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 1280px) {
  .not-found__title {
    margin-top: 246px;
  }
}