.submit__form-button {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  background: #3456F3;
  border-radius: 3px;
  background-size: 260px 45px;
  width: 260px;
  height: 45px;
  border: none;
  margin: 25vh 0 14px;
}

.submit__form-button_type_profile {
  font-weight: 400;
  background: #FFFFFF;
  height: 15px;
}

.submit__form-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .submit__form-button {
    font-size: 13px;
    line-height: 1.2;
    width: 410px;
  }

  .submit__form-button_type_profile {
    margin-top: 210px;
  }
}

@media screen and (min-width: 1280px) {
  .submit__form-button_type_profile {
    margin-top: 220px;
  }
}