.submit-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 48vh;
}

.submit-form__button {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background: #3456F3;
  border-radius: 3px;
  background-size: 260px 45px;
  width: 260px;
  height: 45px;
  border: none;
  margin: 0 0 14px;
  padding: 0;
}

.submit-form__button_inactive {
  opacity: 0.2;
  cursor: default;
}

.submit-form__button_active:hover {
  opacity: 0.8;
  cursor: pointer;
}

.submit-form__button_type_profile {
  font-weight: 400;
  color: #000000;
  background: #FFFFFF;
  height: 15px;
}

.submit-form__error {
  margin: 0 0 14px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  color: #000000;
  display: none;
}

.submit-form__error_active {
  display: block;
}

@media screen and (min-width: 768px) {
  .submit-form__button {
    font-size: 14px;
    line-height: 1.2;
    background-size: 396px 45px;
    width: 396px;
  }

  .submit-form__button_type_profile {
    width: 410px;
    font-size: 13px;
    line-height: 1.2;
  }
}